version: "3.4"
services:
    gochain:
        container_name: gochain
        build:
            context: ./gochain
        logging:
            driver: none
        volumes:
            - ${PWD}/config:/gochain/config
            - ${PWD}/data/gochain:/gochain/data
        ports:
            - 9080:9080
        environment: 
            - GOCHAIN_CONFIG=/gochain/config/gochain.server.json
            - GOCHAIN_DATA=/gochain/data/iconee
            - GOCHAIN_LOGFILE=/gochain/data/gochain.log
            - GOCHAIN_CLEAN_DATA=false
            - GOCHAIN_PROVISION_CONFIG=/gochain/provision/config
            - JAVAEE_BIN=/goloop/execman/bin/execman
            - PYEE_VERIFY_PACKAGE=true
    moonbeam:
        container_name: moonbeam
        image: purestake/moonbeam:v0.9.6
        logging:
            driver: none
        volumes:
            - ${PWD}/data/moonbase_dev:/data/chains/moonbase_dev
        ports:
            - "9933:9933"
            - "9944:9944"
        command: ['--dev', '--ws-external', '--rpc-external', '--rpc-cors', 'all', '--base-path', '/data', '--ethapi', 'debug', '--sealing', '3000']
        user: root
    btp_icon:
        container_name: btp_icon
        build:
            context: .
        depends_on: 
            - gochain
            - moonbeam
        entrypoint: 
            - "/wait_for_it.sh"
            - "gochain:9080"
            - --
            - "/wait_for_it.sh"
            - "moonbeam:9933"
            - --
            - "/entrypoint.sh"
        volumes: 
            - ./scripts:/btpsimple/scripts
            - ${PWD}/config:/btpsimple/config
            - ${PWD}/data/btpsimple_icon:/btpsimple/data
        env_file: ./btp.share.env
        environment: 
            - BTPSIMPLE_BASE_DIR=/btpsimple/data/btpsimple_icon
            - BTPSIMPLE_CONFIG=/btpsimple/config/config.icon.json
            - BTPSIMPLE_SRC_ADDRESS=/btpsimple/config/btp.icon
            - BTPSIMPLE_SRC_ENDPOINT=http://gochain:9080/api/v3/icon
            - BTPSIMPLE_DST_ADDRESS=/btpsimple/config/btp.moonbeam
            - BTPSIMPLE_DST_ENDPOINT=http://moonbeam:9933
            - BTPSIMPLE_OFFSET=/btpsimple/config/offset.icon
            - BTPSIMPLE_KEY_STORE=/btpsimple/config/moonbeam.keystore.json
            - BTPSIMPLE_KEY_SECRET=/btpsimple/config/moonbeam.keysecret
            - BTPSIMPLE_LOG_WRITER_FILENAME=/btpsimple/data/btpsimple_icon/btp.icon.log
    btp_moonbeam:
        container_name: btp_moonbeam
        build:
            context: .
        depends_on: 
            - gochain
            - moonbeam
            - btp_icon
        entrypoint: 
            - "/wait_for_it.sh"
            - "gochain:9080"
            - --
            - "/wait_for_it.sh"
            - "moonbeam:9933"
            - --
            - "/entrypoint.sh"
        volumes: 
            - ./scripts:/btpsimple/scripts
            - ${PWD}/config:/btpsimple/config
            - ${PWD}/data/btpsimple_moonbeam:/btpsimple/data
        env_file: ./btp.share.env
        environment: 
            - BTPSIMPLE_BASE_DIR=/btpsimple/data/btpsimple_moonbeam
            - BTPSIMPLE_CONFIG=/btpsimple/config/config.moonbeam.json
            - BTPSIMPLE_SRC_ADDRESS=/btpsimple/config/btp.moonbeam
            - BTPSIMPLE_SRC_ENDPOINT=http://moonbeam:9933
            - BTPSIMPLE_DST_ADDRESS=/btpsimple/config/btp.icon
            - BTPSIMPLE_DST_ENDPOINT=http://gochain:9080/api/v3/icon
            - BTPSIMPLE_DST_OPTIONS="stepLimit=5000000000"
            - BTPSIMPLE_OFFSET=/btpsimple/config/offset.moonbeam
            - BTPSIMPLE_KEY_STORE=/btpsimple/config/gochain.keystore.json
            - BTPSIMPLE_KEY_SECRET=/btpsimple/config/gochain.keysecret
            - BTPSIMPLE_LOG_WRITER_FILENAME=/btpsimple/data/btpsimple_moonbeam/btpsimple_moonbeam.log