.?*
!.prettierrc
!.solhint.json
__pycache__
**/.DS_Store
**/*.iml
build/
bin/
**/.idea
**/**/.idea
**/**/node_modules/
.gradle/*
javascore/bmv/godWallet.json
**/**/Module/*
EventDecoder.java
metaData.json