.?*
!.prettierrc
!.solhint.json
__pycache__
**/.DS_Store
**/*.iml
build/
bin/
docker-compose/logs
**/target/**/*

**/**.profraw
**/lcov.info
rust/**/coverage
bazel-*
**/.idea
**/**/.idea
**/**/node_modules/
!.bazelrc


/docker-compose/goloop2goloop/config
/docker-compose/goloop2goloop/data
/docker-compose/goloop2moonbeam/config
/docker-compose/goloop2moonbeam/data

.gradle/*
javascore/bmv/godWallet.json
**/**/Module/*
EventDecoder.java
TypeDecoder.java
metaData.json
BMVInitializeData.json
paraMetaData.json
relayMetaData.json
sovereignMetaData.json


/rust/near/cli/configs/**/**.*
/javascore/icon/cli/configs/**/**.*
