version: "3"
services:
  ganache:
    image: trufflesuite/ganache:v7.5.0
    ports:
      - 8545:8545
    command: -b 3 -l 15000000 -p 8545 -m "test test test test test test test test test test test junk"
  icon-node:
    image: iconloop/goloop-icon:v1.3.0
    container_name: "icon-node"
    environment:
      GOLOOP_LOG_LEVEL: "trace"
      GOLOOP_RPC_ADDR: ":9080"
      GOLOOP_P2P_LISTEN: ":7080"
      ICON_CONFIG: "/goloop/config/icon_config.json"
    cap_add:
      - SYS_TIME
    ports:
      - 9080:9080
      - 7080:7080
    volumes:
      - ./icon/config:/goloop/config
      - ./icon/data:/goloop/data
      - ./icon/logs:/goloop/logs
    command: /bin/sh -c /goloop/config/start.sh
