version: "3"
services:
  hardhat:
    build: ./hardhat
    ports:
      - 8545:8545
    volumes:
      - ./hardhat/logs:/app/logs
    command: /bin/sh -c "/app/node_modules/.bin/hardhat --config hardhat.config.js node 2>&1 | tee /app/logs/hardhat.log"
  icon-node:
    image: iconloop/goloop-icon:v1.3.0
    container_name: "icon-node"
    environment:
      GOLOOP_LOG_LEVEL: "trace"
      GOLOOP_RPC_ADDR: ":9080"
      GOLOOP_P2P_LISTEN: ":7080"
      ICON_CONFIG: "/goloop/config/icon_config.json"
    cap_add:
      - SYS_TIME
    ports:
      - 9080:9080
      - 7080:7080
    volumes:
      - ./icon/config:/goloop/config
      - ./icon/data:/goloop/data
      - ./icon/logs:/goloop/logs
    command: /bin/sh -c /goloop/config/start.sh
