# node.js
node_modules
coverage
coverage.json
typechain
typechain-types

# node data
docker/icon/data
docker/icon/logs
docker/hardhat/logs

# deployments
deployments.json

# solidity copied src
solidity/contracts/bmc
solidity/contracts/bmv-bridge
solidity/contracts/xcall
