version: "3.9"
x-common-args: &common-args
    GOLOOP_IMAGE: iconloop/goloop-icon:v0.9.9
services:
    goloop:
        container_name: g2m_goloop
        env_file: ./btp.share.env
        build:
            context: ./goloop
            args: *common-args
        logging:
                driver: none
        volumes:
            - ${PWD}/config:/goloop/config
            - ${PWD}/data/goloop:/goloop/data
        ports:
            - 9080:9080
    moonbeam:
        container_name: g2m_moonbeam
        build:
            context: ./moonbeam
        logging:
            driver: none
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        ports:
            - "34001:34001" # relay rpc
            - "34002:34002" # relay ws
            - "34101:34101" # para rpc
            - "34102:34102" # para ws
    btp_icon:
        container_name: g2m_btp_icon
        build:
            context: .
            args: *common-args
        depends_on: 
            goloop:
                condition: service_healthy
            moonbeam:
                condition: service_healthy
        volumes: 
            - ./scripts:/btpsimple/scripts
            - ${PWD}/config:/btpsimple/config
            - ${PWD}/data/btpsimple_icon:/btpsimple/data
        env_file: ./btp.share.env
        environment: 
            - BTPSIMPLE_BASE_DIR=/btpsimple/data/btpsimple_icon
            - BTPSIMPLE_CONFIG=/btpsimple/config/config.icon.json
            - BTPSIMPLE_SRC_ADDRESS=/btpsimple/config/btp.icon
            - BTPSIMPLE_SRC_ENDPOINT=http://goloop:9080/api/v3/icon
            - BTPSIMPLE_DST_ADDRESS=/btpsimple/config/btp.moonbeam
            - BTPSIMPLE_DST_ENDPOINT=http://moonbeam:34101
            - BTPSIMPLE_OFFSET=/btpsimple/config/offset.icon
            - BTPSIMPLE_KEY_STORE=/btpsimple/config/moonbeam.keystore.json
            - BTPSIMPLE_KEY_SECRET=/btpsimple/config/moonbeam.keysecret
            - BTPSIMPLE_LOG_WRITER_FILENAME=/btpsimple/data/btpsimple_icon/btp.icon.log
    btp_moonbeam:
        container_name: g2m_btp_moonbeam
        build:
            context: .
            args: *common-args
        depends_on: 
            goloop:
                condition: service_healthy
            moonbeam:
                condition: service_healthy
        volumes: 
            - ./scripts:/btpsimple/scripts
            - ${PWD}/config:/btpsimple/config
            - ${PWD}/data/btpsimple_moonbeam:/btpsimple/data
        env_file: ./btp.share.env
        environment: 
            - BTPSIMPLE_BASE_DIR=/btpsimple/data/btpsimple_moonbeam
            - BTPSIMPLE_CONFIG=/btpsimple/config/config.moonbeam.json
            - BTPSIMPLE_SRC_ADDRESS=/btpsimple/config/btp.moonbeam
            - BTPSIMPLE_SRC_ENDPOINT=http://moonbeam:34101
            - BTPSIMPLE_DST_ADDRESS=/btpsimple/config/btp.icon
            - BTPSIMPLE_DST_ENDPOINT=http://goloop:9080/api/v3/icon
            - BTPSIMPLE_DST_OPTIONS="stepLimit=5000000000"
            - BTPSIMPLE_OFFSET=/btpsimple/config/offset.moonbeam_parachain
            - BTPSIMPLE_KEY_STORE=/btpsimple/config/goloop.keystore.json
            - BTPSIMPLE_KEY_SECRET=/btpsimple/config/goloop.keysecret
            - BTPSIMPLE_LOG_WRITER_FILENAME=/btpsimple/data/btpsimple_moonbeam/btpsimple_moonbeam.log